* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #cccccc;
}

.nav {
  height: 20vh;
  width: 100vw;
  background-color: #404040;
}
.totalbox {
  width: 75vw;
  height: 100vh;
  background-color: white;
  margin: auto;
}
.topbox {
  height: 100%;
  background-color: white;
}
.bottombox {
  height: 15vh;
  background-color: black;
}
/* .main {
  width: 100vh;
  height: 100vw;
  background-color: blue;
} */
/* main {
  background-color: blue;
} */
